# Angular build artifacts
/dist
/out-tsc
/.angular/cache

# Node modules
/node_modules

# Compiled output
/tmp
npm-debug.log
yarn-debug.log
yarn-error.log

# Environment files
/src/environments/environment*.ts

# System files
.DS_Store
Thumbs.db

# IDEs y editores
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/launch.json
!.vscode/extensions.json

# Others
coverage/
.sass-cache/
.history/
