<div class="swiper w-full max-w-md">
  <div class="swiper-wrapper">
    <div class="swiper-slide" *ngFor="let slide of slides">
      
      <div class="bg-white p-6 shadow rounded text-center min">
      <div class="mb-4 bg-emerald-100 rounded-sm h-48 flex items-center justify-center">
        <lucide-icon [img]="slide.icon" class="w-20 h-20 mx-auto mb-4 text-emerald-600"></lucide-icon>
      </div>
        <h2 class="text-xl font-bold mb-2">{{ slide.title }}</h2>
        <p class="text-gray-600">{{ slide.description }}</p>
      </div>
    </div>
  </div>

  <div class="swiper-pagination"></div>
</div>
