<div class="flex items-center justify-between p-5 flex-wrap">
    <div>
        <h3 class="text-2xl font-bold tracking-tight">Welcome back {{name}}</h3>
        <p class="text-muted-foreground">Here's what's happening with your practice today.</p>
    </div>
    <div class="flex flex-row items-center gap-2 flex-wrap">
        <button
            class="inline-flex items-center justify-center gap-2 whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 [&_svg]:pointer-events-none [&_svg]:size-4 [&_svg]:shrink-0 text-primary-foreground h-10 px-4 py-2 bg-emerald-600 hover:bg-emerald-700 text-white">
            <lucide-angular [img]="plusIcon" [size]="16" class="" /> New Appointment</button>
        <button
            class="inline-flex items-center justify-center gap-2 whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 [&amp;_svg]:pointer-events-none [&amp;_svg]:size-4 [&amp;_svg]:shrink-0 border border-input bg-background hover:bg-accent hover:text-accent-foreground h-10 px-4 py-2"><svg
                xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="lucide lucide-bell mr-2 h-4 w-4">
                <path d="M6 8a6 6 0 0 1 12 0c0 7 3 9 3 9H3s3-2 3-9"></path>
                <path d="M10.3 21a1.94 1.94 0 0 0 3.4 0"></path>
            </svg>Notifications<div
                class="inline-flex items-center rounded-full border px-2.5 py-0.5 text-xs font-semibold transition-colors focus:outline-none focus:ring-2 focus:ring-ring focus:ring-offset-2 border-transparent text-primary-foreground hover:bg-primary/80 ml-2 bg-emerald-600 text-white"
                data-v0-t="badge">3</div></button>
    </div>
</div>
<app-stats></app-stats>

<div class="grid gap-4 lg:grid-cols-2 md:grid-cols-1">
<app-upcoming-appointments></app-upcoming-appointments>

<app-recent-activity></app-recent-activity>
</div>

<app-calendar></app-calendar>