<div
  class="fixed inset-0 z-40 bg-black bg-opacity-50 transition-opacity duration-300"
  [ngClass]="{
    'opacity-100 pointer-events-auto': isOpen,
    'opacity-0 pointer-events-none': !isOpen
  }"
  (click)="closeSidebar()">
</div>



<!-- SIDEBAR -->
<section class="fixed inset-y-0 right-0 max-w-full flex z-50" [ngClass]="{ 'pointer-events-none': !isOpen }">
  <div class="w-screen max-w-md transition-transform duration-300 transform"
    [ngClass]="{ 'translate-x-0': isOpen, 'translate-x-full': !isOpen }">
    <div class="h-full flex flex-col py-6 bg-white shadow-xl">
      <div class="flex items-center px-4 w-full justify-end">
        <button (click)="closeSidebar()" class="text-gray-500 hover:text-gray-700">
          <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>
      </div>

      <p class="text-sm text-gray-500 px-4 mt-4 mb-2">
        Here are the appointments from the last month
      </p>
      

      <!-- Appointments -->
      <div class="mt-4 px-4 h-full overflow-auto">
        <div class="">
          <div *ngFor="let appointment of monthAppointments"
            class="border-t border-gray-200 pt-4 pb-4 flex items-center justify-between">
            <h3 class="text-lg font-semibold text-black mb-2">{{appointment.customer.name}}</h3>
            <div class="flex items-center gap-4">
              <div class="inline-flex items-center rounded-full border px-2.5 py-0.5 text-xs font-semibold"
                [ngClass]="{
                  'bg-emerald-100 text-emerald-700': appointment.status === 'Confirmed',
                  'bg-amber-100 text-amber-700': appointment.status === 'Pending',
                  'bg-red-100 text-red-700': appointment.status === 'Canceled'
                }">
                {{ appointment.status }}
              </div>
              <p class="text-xs text-gray-500">{{ getFormattedDate(appointment.date) }}</p>
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</section>
